@page
@model ShoeMart3.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<section class="h-screen flex justify-center items-center bg-white">
    <div class="w-full max-w-md bg-white rounded-lg shadow-xl dark:bg-gray-800 space-y-2">
        <div class="px-4 py-6">
            @* Avatar *@
            <div class="flex items-center justify-center">
                <img class="object-cover w-12 h-12 rounded-full" src="~/images/running-shoes.png" alt="Avatar" />
            </div>
            <h3 class="mt-3 text-xl font-medium text-center text-black dark:text-gray-200">Welcome Back</h3>
            <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login or create account</p>

            @* Form *@
            <form method="post">
                <div asp-validation-summary="All" class="text-red-500 text-sm"></div> <!-- Validation summary to show errors -->

                <div class="w-full mt-4">
                    <input asp-for="Input.Email" placeholder="Email Address" class="form-input-style" />
                    <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
                </div>

                <div class="w-full mt-4">
                    <input asp-for="Input.Password" placeholder="Password" class="form-input-style" />
                    <span asp-validation-for="Input.Password" class="text-red-500 text-sm"></span>
                </div>

                <div class="flex items-center justify-between mt-4">
                    <div class="flex items-center">
                        <input asp-for="Input.RememberMe" type="checkbox" class="form-checkbox" />
                        <label asp-for="Input.RememberMe" class="ml-2 block text-sm text-gray-900 dark:text-gray-200">Remember me</label>
                    </div>
                    <a asp-page="./ForgotPassword" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Forget Password?</a>
                </div>

                <div class="flex items-center justify-end mt-4">
                    <button type="submit" class="button self-end">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
        <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
            <span class="text-sm text-gray-600 dark:text-gray-200">Don't have an account? </span>
            <a href="/Identity/Account/Register" class="mx-2 text-sm font-bold text-black-500 dark:text-blue-400 hover:underline">Register</a>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
